bin/
obj/

*.user
*.userosscache
*.suo
*.swp
*.vspxproj
*.tmh
*.VC.db
*.vscode

.log
logs/

.vscode/
.idea/
*.vcxproj
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini
ehtumbs.db

*.lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.generated.cs

Migrations/

appsettings.*.json

